# .env.example
# Configuracoes do Banco de Dados
DATABASE_URL=

# Configuracoes de Seguranca
SECRET_KEY=

# Configuracoes de CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Configuracoes de Upload
UPLOAD_MAX_SIZE_BYTES=5242880
UPLOAD_DIRECTORY=static/uploads
